[2020-03-05 15:04] mortezah commented on #295
`countNodesOn` expect a type (e.g., `apf::Mesh::VERTEX`) not a `MeshEntity`.

To get a type of mesh entity you can sue `apf::Mesh2::getType` api.

Also, I don't understand the second part of the code. In other words, if you already have a pumi mesh, why is it necessary to go back to the simmetrix mesh?

[2020-03-05 15:54] eisungy commented on #295
Hi @mortezah
Thank you for your comments. I'll take a carefully look at the types in the CORE source code.

As for your question about use of simmetrix mesh even with pumi mesh, ...
I have a wall curve that consists of multiples vertices. I need to tag an index on each vertex in order  along the curve.

I can find a model edge of the wall curve from simmetrix mesh and pumi mesh. But for pumi mesh,

[2020-03-06 07:42] eisungy commented on #295
@mortezah

If I understand source code correctly, it appears field-related class has a wrapper member function for `countNodesOn` to have `MeshEntity`.

The relevant function definition is below.

https://github.com/SCOREC/core/blob/2472c570dc3a9e5acc23146288822733759558a1/apf/apfField.cc#L32

I see some examples in CORE as

https://github.com/SCOREC/core/blob/2472c570dc3a9e5acc2314628882273375955

[2020-03-06 11:13] eisungy commented on #295
I figured out this. I didn't know how `Mesh2*` is generated from `Mesh*`. So I'm closing this issue now.
Thank you, @mortezah

[2020-03-06 11:13] #295 closed

[2020-03-17 18:42] tuckerbabcock commented on #291
I think we can close this issue, the example put together by Morteza provides a template for what I was trying to accomplish.

[2020-03-17 18:42] #291 closed

[2020-03-20 21:14] geyan3566 opened #297 "Negative Jacobian of element transformation"
Hi,

I tried to load a `pumi` mesh  and convert it into a parallel `mfem` mesh with:
[code]
But all the elements in `mfem_mesh` have element transformation of negative jacobian.
Is there a way to check the mesh orientation while loading MDS mesh?  It happened to me that pumi warned me about wrong orientation elements and fixed it.

Thanks,
Ge

[2020-03-20 22:12] mortezah commented on #297
@geyan3566 would it be possible for you to share your mesh and model with this behavior?

[2020-03-20 23:26] geyan3566 commented on #297
Thanks for your reply.
Here are the model file and the mesh file, and I also include the `x_t` file.
[annulus_mesh.zip](https://github.com/SCOREC/core/files/4362100/annulus_mesh.zip)

Code that loads the mesh:
[code]
Code that check the jacobian:
[code]
where `fes` is a parallel `FiniteElementSpace` class defined in `mfem`.
Please let me know if you have any questions.

Thanks,
Ge

[2020-03-23 16:01] geyan3566 commented on #297
There is also a serial version that converts a `pumi` mesh into `mfem` mesh, in which it has a function that can fix the element orientation.
[code]
It is possible that my the `PUMI` mesh I generated is of wrong orientation.

[2020-03-23 21:05] jacobmerson opened #298 "mdsUgrid.cc breaks build on XL compiler"
This code uses c++11 features which are not available in the XL compiler suite.

 Is there a preferred method we are using to only enable certain features if the appropriate compilers/language features exist?

[2020-03-23 23:00] jacobmerson commented on #298
For the specific case of XL I might be able to use qlanglvl to fix the error (will test shortly), however we should have a uniform way of dealing with code which requires certain compiler versions.

[2020-03-24 12:03] cwsmith commented on #298
This was on AiMOS?

[2020-03-25 03:49] jacobmerson commented on #298
I was compiling on summit, however I suspect the problem will be encountered anytime you use a compiler which doesn't have the c++11 standard enabled.

[2020-03-25 19:05] tuckerbabcock commented on #293
@mortezah

[2020-03-25 19:54] cwsmith commented on #293
@tuckerbabcock Can you add a print statement to `isParamPointInsideModel(...)` to see exactly which geometric model entity (we may need to print the bounding box of the entity if the model id cannot be traced back to known model entity ids) claims to have 0 adjacent regions?  The error does not make sense to me if the pictured model is topologically valid.

[2020-03-25 20:29] mortezah commented on #293
@tuckerbabcock , sorry for the late response. Been really busy lately.

That condition serves a purpose for very special periodic models. (if I want to explain int briefly when you have a periodic surface with a very coarse mesh, sometimes parametric interpolation finds you a point that is not inside the model. e.g. consider a half-cylinder with only one edge across. Even though the model face is

[2020-03-25 21:42] tuckerbabcock commented on #293
@cwsmith the issue seems to be that there are 2 adjacent regions, not 0. However, it sounds like @mortezah has an understanding of the problem. For this model, forcing `isParamPointInsideModel(...)` to return true seems to work and produces a curved mesh.

This is just a simple model I came up with that would demonstrate the problem, my real mesh is more complicated. I'll work on trying to curve m

[2020-03-25 21:55] cwsmith commented on #293
Whoops.  Yeah.. ignore my gibberish.

[2020-03-26 14:17] cwsmith commented on #298
On AIMOS, I built a minimal install of core with the following commands:

[code]

As described, this fails with:

[code]

Digging around the code I see a few other places where C++11 is used:

[code]

We could add the necessary c++11 flags to each specific target with the following syntax:

[code]

But, since there are multiple places where C++ is  used, I'm thinking we should make C++11 required

[2020-03-27 06:14] mortezah commented on #297
@geyan3566 sorry for the late response. It appears that ParPumiMesh class creates elements with wrong orientations for 2D meshes but it works fine for 3D meshes. I have pushed a fix to my fork of mfem (git@github.com:mortezah/mfem.git) under the branch `pumi2mfem_field_transfer` (I am working on other things on this branch and once I am done I will do a Pull Request so this changes can be merged t

[2020-03-27 20:34] nelson15 opened #299 "Create a Trelis to mds mesh importer"
Hi everyone,

I am working on a collaboration with Coreform to run a PHASTA simulation using their mesh. They store their meshes in a .trelis file, which is formatted in standard HDF5 style. Attached is a .trelis file (changed to .txt so Github would not complain) containing a 3x3x3 hex mesh of a cube. The mesh file can be opened directly in HDFView (a program put out by HDF group for viewing HDF5

[2020-03-27 21:15] nelson15 commented on #299
Here is my first pass at writing this importer (for hex meshes only). My biggest issue is including gmi data. The .trelis mesh file has topological information (almost identical to a .dmg file) so this should be possible to use that.

This is heavily based on the mdsGMSH.cpp file.
[mdsTrelis.txt](https://github.com/SCOREC/core/files/4395962/mdsTrelis.txt)

[2020-03-28 15:24] geyan3566 commented on #297
Thanks.
Please let me know when the pull request is done because the parallel pumi mesh is necessary for my project.

[2020-04-19 06:25] eisungy commented on #107
@seegyoung @cwsmith
This problem seems to persist so far. I'm trying with the up-to-date core.
My code is just to load a serial mesh and delete it through mesh - Also I observe this issue with a parallel mesh as well. Nothing else is being operated. In addition to the same memory issue reported in this thread, I have additionally below, which seems to be related. Could you refer me to a clean way

[2020-04-19 11:44] cwsmith commented on #107
Thanks for reporting on this.  We'll fix it.

[2020-04-20 00:13] tuckerbabcock opened #300 "MFEM Parallel Pumi Mesh doesn't construct Nodes Gridfunction"
The MFEM class `ParPumiMesh` only constructs the `Nodes` `GridFunction` object for high order meshes:
https://github.com/mfem/mfem/blob/master/mesh/pumi.cpp#L682-L692

What code needs to change to construct the `Nodes` `GridFunction` for a linear mesh as well?

[2020-04-20 01:23] mortezah commented on #300
If I recall correctly `ParPumiMesh` is made following the same design characteristics of `ParMesh` in mfem. For `ParMesh` in mfem, nodes are active only for higher orders. See for example here https://github.com/mfem/mfem/blob/dcd2ed5c413695113d0cee8767de2ed9a7df47bd/mesh/mesh.hpp#L168

[2020-04-20 16:32] tuckerbabcock commented on #300
Thanks @mortezah. You are correct. There is an MFEM function `Mesh::EnsureNodes` that will create the `Nodes` object for a linear mesh if it is required.

[2020-04-20 16:32] #300 closed

[2020-04-20 23:17] tuckerbabcock opened #301 "API call help"
Hi,
I'm wondering what API calls to use to find the mesh elements that are classified in a given model region, that are also adjacent to a given model face.

To illustrate, I'd like to find the dark grey elements shown in the picture. The elements of interest would be classified in the white region, and adjacent to the edges of the rotor. Note that my real problem would be a 3D mesh.

<img width="

[2020-04-20 23:34] mortezah commented on #301
As far as I know, we don't have reverse classification. For example, you cannot get the list that contains all the mesh faces classified on a given model face. You will need to iterate over all mesh faces and individually check if they are classified on that model. If you will need to create such a list repeatedly, you might want to make that at the beginning of your application once and reuse it

[2020-04-21 00:34] tuckerbabcock commented on #301
Hi @mortezah, thanks for the response. I guess I was looking for an `apf` version of `void pumi_gent_getRevClas (pGeomEnt g, std::vector<pMeshEnt>& ents)`, because I thought the reverse classification information was already kept in memory somewhere, but after looking at that function's source (and your comments) I believe I can implement what I'm looking for.

[2020-04-21 06:09] jacobmerson commented on #301
If you use a simmetrix mesh under the hood, then you can get what you want using their APIs. Otherwise I have always done as @mortezah says and create my own reverse classification.

[2020-04-21 20:53] tuckerbabcock commented on #301
Thanks Jacob and Morteza.

[2020-04-21 20:53] #301 closed

[2020-05-04 18:32] jacobmerson opened #306 "Require C++11 for builds"
Top level issue to discuss moving to requiring C++11.

Related:
Pull Request: #305
Issue: #298
Branch: https://github.com/SCOREC/core/tree/c++11Required

Potential concerns:
1) We still need to run on hardware which doesn't support a C++11 compiler?
2) XSDK compatibility

Many popular C++ libraries for HPC already make this restriction e.g. Trillinos. Some libraries such as Kokkos are going furthe

[2020-05-06 20:38] cwsmith commented on #107
@eisungy A small test that loads a mesh and deletes it is here:

Please try running your code again; hopefully all the leaks from pumi will be resolved.

@seegyoung The fix for the leaks of the objects in the map of gmi entities to `gEntity` seems like a bit of hack. I could not find another way to avoid a memory error without creating the temporary vector of `gEntity`ies below.  Valgrind reported

[2020-05-07 16:39] cwsmith commented on #283
Please reopen this if there are updates or questions.

[2020-05-07 16:39] #283 closed

[2020-05-26 13:58] cwsmith opened #308 "PUMI 2.2.3 Release"
This issue is to document functionality and features added PUMI since the 2.2.2 release (bc34e3f7
):

    Nedelec shape functions (3c025333,8e49bc26, #304)
    Add utility to print a graph partition for pumipic (51ca64f5)
    Fixes memory leaks (b15c30af)
    Add support for reading 2D ugrid files (68860e51, #289)

[2020-05-26 15:46] mortezah commented on #297
@geyan3566

I just wanted to let you know that there is a PR on MFEM repo here (https://github.com/mfem/mfem/pull/1454) to merge the changes mentioned above into the master branch. That merge should go through shortly.

[2020-05-26 16:26] #308 closed

[2020-06-06 07:40] eisungy commented on #107
@cwsmith Hi Cameron. I sincerely thank you for your fix. It works very well without memory leak.

[2020-06-08 11:44] cwsmith commented on #107
Great.  Thank you for confirming.

[2020-06-08 11:44] #107 closed

[2020-06-29 06:24] ikalash opened #312 "Undefined reference from SCOREC when building Albany"
When we built Albany on top of a Trilinos with SCOREC enabled, we get errors that look like:

[code]
Could you please look into this / get this resolved?  I remember we had a similar problem about a year ago.

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=3314

[2020-06-29 06:24] ikalash commented on #312
@RuixiongHu

[2020-06-29 06:50] jacobmerson commented on #312
This looks like the stuff that @mortezah and @Samiullah-Malik just added.

[2020-06-29 23:24] ikalash commented on #312
I can confirm that the issue has been resolved.  Thanks for doing this so fast!  @RuixiongHu you should be able to use master SCOREC VOTD for your development/runs from now on.

[2020-06-29 23:24] #312 closed

[2020-07-02 19:49] zhang-alvin opened #313 "maSnap exceptions for 3D but not for 2D"
I have a question about the following line of code in [maSnap](https://github.com/SCOREC/core/blob/390452edabb8338cc18fccde25f4f64e5e2be81e/ma/maSnap.cc#L843).

It purposely avoids considering snapping when a mesh vertex is classified on a model region in 3D. Why is this exception not extended to mesh vertices classified on the model region in 2D?

[2020-07-13 15:40] cwsmith commented on #313
Hello,
Is the problematic case a 2D geometric model with a triangular mesh?  If so, why is there concern for classification on a model region (a volume)?

[2020-07-13 17:13] zhang-alvin commented on #313
@cwsmith I was looking into creating a 2D analytic geometric model with a triangular mesh and I did not parameterize the model region. This led to an issue when calling MeshAdapt during the snapping procedure, which is avoided in 3D because of the indicated line.

I have since created a geometric model with parameterizations for each entity, so I no longer have a problem, so this is more of a ques

[2020-07-14 19:32] cwsmith opened #314 "variable length arrays require C99"
Variable length arrays are used in apfNedelec.cc but are not supported in C++ (https://stackoverflow.com/a/15013295/1301146).  Please replace these with dynamic, or conservatively sized statically sized arrays:

https://github.com/SCOREC/core/blob/8d91a20a8ffc11c02b96b27e28bb3865d90eb4ed/apf/apfNedelec.cc#L828-L829

@Samiullah-Malik

[2020-07-14 19:45] mortezah commented on #313
@zhang-alvin  It is kind of tricky to define the 2D problem. At best, things would be problem-dependent:

- On one hand, one can have a 2D domain on a flat surface, in which the boundary edges would be the equivalent of boundary faces in the 3D case and faces would be the equivalent of regions in the 3D case. For those cases, one can only snap things on the model edge and treat the model face as i

[2020-07-15 14:29] cwsmith commented on #314
The VLAs were replaced with dynamic allocations:  https://github.com/SCOREC/core/commit/7ed8852a54860da91bd09e7d9267a059a9fa1194

Please reopen if there are questions or concerns.

[2020-07-15 14:29] #314 closed

[2020-07-15 21:28] zhang-alvin commented on #313
@mortezah I see. Thanks for the clarification. I didn't consider the second bullet.

Again, no active issues that I'm having, but curious to know why that line of code was present.

[2020-07-15 21:28] #313 closed

[2020-07-17 13:30] cwsmith commented on #278
I assume this is fixed.  Please reopen if needed.

[2020-07-17 13:30] #278 closed

[2020-07-17 13:32] cwsmith commented on #276
@a-jp I assume this can be closed?

[2020-07-17 13:34] cwsmith commented on #282
@mortezah If it does not exist already, is this feature still needed?

[2020-07-17 13:44] mortezah commented on #282
I think it would be good to have it as we move towards doing problems with highly curved meshes.

Saving higher order fields (coordinate field in this case) is relatively straightforward in pumi except for Bezier. I believe that's because of the way order of the Bezier fields is handled in the current implementation (as a global variable in the crv name space). I have thought about this a bit and

[2020-07-20 08:03] a-jp commented on #276
Yep. Thanks

[2020-07-20 11:52] #276 closed

[2020-07-22 19:27] cwsmith opened #315 "memory leaks"
Building develop 492ee54 with GCC 7.4 with `-fsanitize=address` results in several (`ctest`) tests failing.  The log is attached ( [LastTest.log](https://github.com/SCOREC/core/files/4962130/LastTest.log) ) and the errors are summarized below.

[code]

[2020-07-22 19:40] cwsmith commented on #315
@mortezah Would you please look at the adapt and bezier leaks when you get a chance?

[2020-07-24 13:34] mortezah commented on #315
@cwsmith  I don't see any problem with `adapt_fusion`.

[2020-07-24 13:35] mortezah commented on #315
@cwsmith  ignore my last comment. I think the the fix for `bezierRefine` also fixed the `adapt_fusion` :)

[2020-07-29 14:32] jacobmerson opened #316 "CMAKE_CXX_FLAGS are overwritten"
The `CMAKE_CXX_FLAGS` variable is overwritten by `bob_begin_cxx_flags`. I see that the variables `SCOREC_CXX_FLAGS` and `SCOREC_EXTRA_CXX_FLAGS` can be used instead.

However, this behavior is not "standard" and I had to go into the `bob.cmake` file to figure out how to change the flags.

I think it makes more sense to have the default behavior for `CMAKE_CXX_FLAGS` do what `SCOREC_EXTRA_CXX_FLAGS

[2020-07-29 14:51] jacobmerson commented on #315
@cwsmith things should be cleared up in PR #317

[2020-07-31 18:23] cwsmith opened #319 "mfem adaptation example"
The following instructions were run on the ALCF Cooley machine.

## Software versions

pumi: https://github.com/SCOREC/core/commit/e56f821656ed4e1edc76ef22f9f40ca8091e3756
mfem: https://github.com/mfem/mfem/tree/6222124d456fcf9b1ea217a47791efb5171748d0
simmetrix simmodsuite: 15.0-200714
simmetrix simmodeler: 9.0-200714-dev

## Spack install

using spack yaml files from `/home/cwsmith/atpesc20/cool

[2020-07-31 18:31] cwsmith commented on #319
@mortezah I'm going to build this up on SCOREC and/or figure out how to get gdb working on Cooley to see where the failure occurs.

[2020-07-31 19:48] mortezah commented on #319
@cwsmith you send me the model/mesh?

Is small feature removal (I don't remember what it is called exactly in simmetrix) used while generating the mesh in simmetrix?

[2020-08-01 23:00] cwsmith commented on #319
The model and mesh are in the mfem `atpesc2020_pumi` branch in the `data/pumi`directory.

[2020-08-02 22:16] mortezah commented on #319
@cwsmith I don't see the model mentioned here https://github.com/mfem/mfem/blob/6222124d456fcf9b1ea217a47791efb5171748d0/examples/pumi/upright_ex2p.cpp#L62 on that branch.

[2020-08-02 23:12] cwsmith commented on #319
@morteza This is the modelhttps://github.com/mfem/mfem/blob/atpesc2020_pumi/data/pumi/geom/uprightNoRingGeomSim.smdOn Aug 2, 2020 6:16 PM, Morteza <notifications@github.com> wrote:
@cwsmith I don't see the model mentioned here https://github.com/mfem/mfem/blob/6222124d456fcf9b1ea217a47791efb5171748d0/examples/pumi/upright_ex2p.cpp#L62 on that branch.

—You are receiving this because you were menti

[2020-08-20 17:33] tuckerbabcock opened #320 "Nested calls to PCU_init"
Hi All,

I'm running into an issue where I believe I want to nest calls to `PCU_Comm_Init`, but this obviously gives me an error as it's not allowed. My use case is I have a finite element solver that each load a PUMI mesh. I had been calling `PCU_Comm_Init` before the solver loads the mesh, and calling `PCU_Comm_Free` when the solver is destructed. This worked well enough when I only needed to ha

[2020-08-20 19:07] cwsmith commented on #320
Quick response:

- the state of PCU can be checked with https://github.com/SCOREC/core/blob/8439d928afcb95d88652f4812dcb62077ed958f6/pcu/PCU.h#L103

- the PCU communicator can be switched with https://github.com/SCOREC/core/blob/8439d928afcb95d88652f4812dcb62077ed958f6/pcu/PCU.h#L120

[2020-08-20 20:09] tuckerbabcock commented on #320
Hi @cwsmith,

Thanks for the response. Looking at the documentation for `PCU_Switch_Comm` I believe it solves my problem.

[2020-08-20 20:09] #320 closed

[2020-09-03 23:12] jacobmerson commented on #306
The following is a description of the C++ standards that the Kokkos team is committing to maintaining. I think this might be a reasonable thing to consider adopting for core as well since this implies that all of the major supercomputing centers will support compilers with these language features.

[2020-09-04 15:56] cwsmith commented on #306
Good find.  Adopting this strategy for core makes sense.

[2020-09-19 14:47] cwsmith opened #322 "mdsUgrid build failure on osx with clang11"
https://github.com/xsdk-project/xsdk-issues/issues/113

[code]

[2020-09-28 17:19] cwsmith commented on #322
I can build on osx with llvm11 with the following changes:
https://github.com/SCOREC/core/commit/53339a11dfd579cab935c6b7a2a6da3d7e333aea

[2020-09-28 18:23] #322 closed

[2020-10-07 13:48] nlelong opened #323 "partitioning and externally stored entity sets"
Hello,
I'm new to PUMI, and i'm trying to plug it in our mechanics code to benefit from its distributed capabilities. We're currently using an other mesh library which has some limitations and wish to test PUMI as replacement.
The majority of our meshes are in a specific mesh format. Our Mesh class encapsulates an apf::Mesh2 and Vertices and elements are added from reading coordinates and connecti

[2020-10-07 17:49] cwsmith commented on #323
Hi Nicolas,

The use of these regions is not quite clear to me.  It sounds like they should be geometric model entities given that they have boundary/initial conditions applied to them.  Mesh classification on the model (i.e, the association of mesh entities to geometric model entities) could then be queried to determine which boundary/initial conditions need to be applied and to handle any post p

[2020-10-08 08:10] nlelong commented on #323
Thanks Cameron for you answer.
Yes I think that in the PUMI framework that should correspond to geometric model entities. However, I don't quite understand how to create them from an existing mesh. How are generated the geometric model files you use ?
For example, when we read from Gmsh mesh files, we read the physical entities in gmsh to define our regions (boundaries, etc...). I saw that in the

[2020-10-08 14:37] uphoffc commented on #284
I get the same error.

The error can be reproduced with the following Dockerfile:

[code]

[2020-10-14 18:32] cwsmith opened #324 "PUMI 2.2.4 Release"
This issue is to document functionality and features added to PUMI since the 2.2.3 release (4aab41145d7bd3c9e4371cb6f6ea692b34de37e0):

 - bug fixes (#312, #314, #317, #322, a3a017bcc4ab0bc9bdd6ccacdd0e1ab70ed68dc0, 492ee541a305e5cd4ec5ed2e2e10090a261899ee)
 - piece-wise continuous shapes/fields (#310, c3ba3fe36090b1b3c8079441486b71b679d742c2)
 - build system variable for test meshes (#318, 59c3ba

[2020-10-14 18:38] #324 closed

[2020-11-02 18:18] cwsmith opened #326 "PUMI 2.2.5 Release"
This issue is to document functionality and features added to [PUMI 2.2.5](https://github.com/SCOREC/core/releases/tag/v2.2.5) since the 2.2.3 release (4aab41145d7bd3c9e4371cb6f6ea692b34de37e0):

 - bug fixes (#312, #314, #317, #322, a3a017bcc4ab0bc9bdd6ccacdd0e1ab70ed68dc0, 492ee541a305e5cd4ec5ed2e2e10090a261899ee)
 - piece-wise continuous shapes/fields (#310, c3ba3fe36090b1b3c8079441486b71b679d7

[2020-11-02 18:41] #326 closed

[2020-11-03 00:25] cwsmith commented on #284
@uphoffc Thank you.  I was able to reproduce the error.  For the record, docker used GCC 8.3.0.

[2020-11-03 00:31] cwsmith commented on #323
@nlelong

The following links should help with gmsh model creation and conversion:

https://github.com/SCOREC/gmshToPumi

https://github.com/SCOREC/core/wiki/Mesh-Generation#conversion-to-an-mds-smb-mesh

[2020-11-26 16:21] KennethEJansen commented on #173
Do either of you know the status of the commenting of lines 142-144 in phPartition.cc?   I see that Cameron requested that it be in another ticket so I will go looking for that.

That said, as long as matchedNodeElmReader is off of the main branch we will have to track whether it is fixed in develop, fixed in addNfath, or both.

[2020-11-27 01:11] KennethEJansen commented on #173
Given that Riccardo's PHASTA run NaN-ed out I thought perhaps I would try to set weights but any code changes I make to setWeight seem to cause it to segfault, including this no-op change:

`void setWeight(apf::Mesh* m, apf::MeshTag* tag, int dim) {
  double w = 1.0;
  apf::MeshEntity* e;
  apf::MeshIterator* it = m->begin(dim);
  int nverts =1;
  apf::Downward verts;
  while ((e = m->iterate(it))

[2020-11-27 14:29] KennethEJansen commented on #173
Trying a smaller case on the viz nodes (144x281x40 elements before unstructured decimation via multi-topology).
kjansen@viz003: /projects/tools/Models/BoeingBump/LES_DNS_Meshing/FPSMixTopo/MGEN2/Chef/8-4m-Chef $ mpirun -np 8 /projects/tools/SCOREC-core/buildMT/test/chef 2>&1 | tee -a output.GraphWeightParma

kjansen@viz003: /projects/tools/Models/BoeingBump/LES_DNS_Meshing/FPSMixTopo/MGEN2/Chef/8-

[2021-02-07 00:01] eisungy opened #328 "conflicting declaration of pMesh between SimPartitionedMesh.h and pumi.h"
Hi. This might be already known issue or already resolved. But I couldn't find it in Github issues.

The issue is that when I include both `pumi.h` and `SimPartitionedMesh.h` together, I got below.

[code]

Could you tell me if there is workaround for this problem in user side, please? Thank you =)

[2021-02-07 00:14] seegyoung commented on #328
PUMI API is supposed not to be used with Simmetrix. So please do not include them at the same time.

[2021-02-07 00:23] eisungy commented on #328
@seegyoung

Thank you very much for your quick answer. I'm using the routine converting Simmetrix Mesh to Pumi Mesh that needed SimPartitionedMesh.h. In addition, I also need to tag some information on the converted Pumi Mesh and try to utilize PUMI APIs, which results in the conflict.

So far, I was able to avoid the conflict by reading PUMI sources and using the underlying APIs from core. In som

[2021-02-07 00:33] eisungy commented on #328
This was just a reporting in user side, and wanted to confirm if I'm using PUMI correctly. I'll close this issue. Thank you.

[2021-02-07 00:33] #328 closed

[2021-02-09 05:34] jacobmerson commented on #328
Shouldn't all of the PUMI interface be inside of a namespace? At least that way if you are using from C++ you won't have this issue? Adding it is a breaking change, but an easy fix from the client code...they can just use `using namespace pumi` at the top of their files.

Obviously this won't fix the issue if you are using PUMI from C, but I don't see the extern "C" anywhere, so even though it's w

[2021-02-10 18:31] bgranzow opened #329 "Compilation error w/ Apple clang"
[code]

Might want to check the logic in this block
[code]

`firstFace` is not guaranteed to be initialized, but is used heavily later on in the code below

[2021-02-10 20:53] cwsmith commented on #329
@Samiullah-Malik Would you please take a look at this?

[2021-02-10 20:58] jacobmerson commented on #329
@cwsmith Sami graduated...but this error does indicate that our static analysis/compiler flags for our testing may not be adequate. I'm fairly confident that both clang and gcc should catch this with appropriate flags...

[2021-03-03 21:54] cwsmith opened #332 "converting tag on mesh elements to a field"
The following code (courtesy of @diamog) will do the conversion:

[code]

and is based on the https://gist.github.com/bgranzow/98087114166956646da684ed98acab02

[2021-03-03 21:54] #332 closed

[2021-03-09 18:00] joshia5 opened #333 "effect of ghosting on adjacency information"
In order to get total number of regions (including remote regions) adjacent to owned boundary vertices on each part in a distributed mesh, using
[code]
to create a ghost layer and then
[code]
to get number of adjacent regions.
however there is no effect on the number of vtx to region adjacency on any mesh part when include copies=0, when tested with nlayers = 1,2. I was expecting increased number

[2021-03-17 04:43] jacobmerson opened #334 "Compiler error gcc 10.1.0"
Default build using gcc 10.1.0

[code]

[2021-03-19 12:19] cwsmith commented on #329
@bgranzow Thanks for reporting the bug.  It should be resolved now.  Please reopen the issue if there are still problems.

[2021-03-19 12:19] #329 closed

[2021-03-20 14:10] cwsmith commented on #334
I'm not sure why, but some of the phasta pre-processor (`chef`) tests failed.  I reverted the commit (https://github.com/SCOREC/core/commit/897ffdad5afb65194d769ef3d290a31eb6987a70) until we can test/investigate this some more.

[2021-03-23 15:15] mortezah commented on #282
@cwsmith I am closing this issue for now. With the hack mentioned in my last comment saving higher-order meshes and reading the back works fine for now.

[2021-03-23 15:15] #282 closed

[2021-03-29 23:25] bgranzow commented on #329
Thanks @cwsmith !

[2021-03-30 21:24] joshia5 opened #336 "convergence failure in apf/eigen()"
For a 3x3 input matrix
A = 22391.839134, -79303.375391, 44018.262128 ,
 -79303.375391, 294606.941173, -172004.515247,
44018.262128, -172004.515247, 521170.455823

 the eigen function https://github.com/SCOREC/core/blob/30a332d97469e9719313e312512b2d407e912f54/apf/apfMatrix.cc#L68

 fails to converge at https://github.com/SCOREC/core/blob/30a332d97469e9719313e312512b2d407e912f54/apf/apfMatrix.cc#L7

[2021-03-31 12:43] cwsmith commented on #336
Yeah, the following octave code appears to have no problem with it:

[code]

[2021-03-31 21:54] mortezah commented on #336
@cwsmith and @joshia5  It seems that the way QR decomposition is implemented in PUMI has a difficulty when matrix entities are large numbers. Fixing that might take a while for me. I will let you know once that is done.

In the mean time, you can get around this error by doing the following (so @joshia5 can move forward with his pumi tests):

1. Divide all the elements of M by a large factor (1000

[2021-04-02 01:50] joshia5 commented on #336
@mortezah ok, thanks

[2021-04-10 11:40] cwsmith opened #337 "prefix cmake flags that enable optional features with PUMI"
see https://github.com/SCOREC/core/pull/330#pullrequestreview-627429873

[2021-05-28 11:40] KennethEJansen opened #338 "matchedNodeElmReader alloc crash"
Sorry if this has been covered before but how big of a mesh should I be able to stream in with this build settingkjansen@pfe26:~/SCOREC-core/buildMGEN_write3D> more doConfigure14_18
#!/bin/bash -ex

### For Chef
cmake \
-DCMAKE_C_COMPILER=mpicc \
-DCMAKE_CXX_COMPILER=mpicxx \
-DSCOREC_CXX_WARNINGS=OFF \
-DSCOREC_CXX_OPTIMIZE=ON \
-DSCOREC_CXX_SYMBOLS=ON \
-DENABLE_ZOLTAN=ON \
-DENABLE_SIMMETRIX=ON

[2021-05-28 12:02] KennethEJansen commented on #338
I seem to be crashing when trying to stream in a 8,437,865,894 element, 1.9B node mesh.    It is a mix of wedges and tets. I was trying to stream it in to 160 Broadwell nodes each running 4 processes and I think that since I told PBS this:
#PBS -l select=160:ncpus=4:mpiprocs=4:model=bro
it should have given each process 192G/4= 48G so that is is 13.2M elements and 3M nodes per process which is bet

[2021-05-28 12:21] KennethEJansen commented on #338
If I am reading the output right,

MPT: #13 0x000000000047e733 in apf::setCoords (m=m@entry=0x3312d300,
MPT: coords=0x2357cb30, nverts=3015292, globalToVert=...)

is trying to handle 30M verts which I would not expect to be a problem in terms of memory usage so I think I am hitting an index size issue.

[2021-05-28 12:57] cwsmith commented on #338
What branch/commit were these tests using?

[2021-05-28 13:50] cwsmith commented on #338
Discussion notes:

 - This size is concerning:  MPT: #12 0x000000000048eb5f in PCU_Comm_Pack (to_rank=to_rank@entry=639,
MPT: data=data@entry=0x2357cb30, size=18446744056901788288)

[2021-05-28 13:50] KennethEJansen commented on #338
MGEN_write3D

[2021-05-28 15:49] KennethEJansen commented on #338
Is there a quick way to convert from long to int?   As you feared, there is propagation

[ 38%] Building CXX object mds/CMakeFiles/mds.dir/apfBox.cc.o
[ 57%] Built target parma
/home5/kjansen/SCOREC-core/core/mds/apfMDS.cc: In function 'void apf::deriveMdlFromManifold(apf::Mesh2*, bool*, int, int (*)[5], apf::GlobalToVert&, std::map<int, apf::MeshEntity*>&)':
/home5/kjansen/SCOREC-core/core/mds/ap

[2021-05-28 16:35] KennethEJansen commented on #338
I got around the casting issue above but am hitting new issues
Scanning dependencies of target matchedNodeElmReader
[100%] Building CXX object test/CMakeFiles/matchedNodeElmReader.dir/matchedNodeElmReader.cc.o
In file included from /home5/kjansen/SCOREC-core/core/test/matchedNodeElmReader.cc:6:0:
/home5/kjansen/SCOREC-core/core/apf/apfConvertTags.h: In function '{anonymous}::Gid {anonymous}::getMa

[2021-05-28 17:25] jacobmerson commented on #338
Where do you define the GID typedef? The error makes it look like its defined in an anonymous namespace.

[2021-05-28 18:59] cwsmith commented on #338
It is/was in apf here:

https://github.com/SCOREC/core/blob/fe15d56fbf51487d0b50d23873e938079b234aa9/apf/apfConvert.h#L32

I'm hacking at this now.

[2021-05-28 21:18] KennethEJansen commented on #338
Reproducer: It is not asmall as I would like but here is a path to the case on the viz nodes for your you to grab (note it it grabs inputs from one directory above in the run line so safest to just grab the dir above were I am running it).

1) Runs successfully if I roll back to where we were when we tried to make everything with GID long (e.g., here is the hash)
git checkout c1d05c1a5336549bf6d85

[2021-05-29 00:02] KennethEJansen commented on #338
I decided to try serial. Long-mod code makes it through construct in serial but then segfaults on the line 138 in  mds_apf.c on return gmi_find(m-> user_model, ....
I made a debug executable rolled back to  before we moved int to long.

what totalview showed me for the mesh (m) was pretty messed up so its note REALLY getting through construct cleanly.  I have a new run stopping just after constuct

[2021-05-29 00:20] KennethEJansen commented on #338
looks like line 705 is a problem.

gmi_fscanf(f,1, "%u%,elmVtx+j);

does not put a long into elmVtx according to TotalView which does seem to know that elmVtx is apf::Gid[6]
![Screen Shot 2021-05-28 at 6 19 37 PM](https://user-images.githubusercontent.com/11969926/120052204-589a8300-bfe1-11eb-9e4c-4cd7073a2f34.png)

[2021-05-29 04:09] KennethEJansen commented on #338
Found it.  Changed %u to %ld and it seems to be working on the small case with 8 processes

Still crashing on NAS for the big case in the same place.  What does do when q=t/p and t is long, p is an int and q is an int?  Does it automatically cast?  This is what we are doing in set Coords where it is crashing

[2021-05-29 05:37] jacobmerson commented on #338
There is an implicit conversion happening so t is converted to an int and the division happens. This will obviously cause issues if t>max int (2^32/2-1 for 32 bit integer which is about 2 billion). If you are using gcc or clang you can use `-Wconversion` which will find this error. I'm not sure if there is any similar warning on XL.

See [here for an example on compiler explorer](https://godbolt.o

[2021-05-29 12:57] KennethEJansen commented on #338
Thanks for the advice.  Before I went to sleep last night (and before I saw this), i put the following conditional print statements into setCoords
  Gid max = getMax(globalToVert);
  Gid total = max + 1;
  int peers = PCU_Comm_Peers();
  int quotient = total / peers;
  int remainder = total % peers;
  int mySize = quotient;
  int self = PCU_Comm_Self();
  if (self == (peers - 1))
    mySize += rem

[2021-05-29 13:14] KennethEJansen commented on #338
addr2line  is not helping (or I am not using it correctly)

MPT: #12 0x0000000000523ab2 in PCU_Comm_Pack ()
MPT: #13 0x0000000000508bd8 in apf::setCoords(apf::Mesh2*, double const*, int, std::map<long, apf::MeshEntity*, std::less<long>, std::allocator<std::pair<long const, apf::MeshEntity*> > >&) ()
MPT: #14 0x0000000000496fd4 in main ()
MPT: (gdb) A debugging session is active.

kjansen@pfe27:/no

[2021-05-29 15:06] KennethEJansen commented on #338
Core fie interrogation with gdb is not helping either. kjansen@pfe27:/nobackup/kjansen/SeparatedBump/DNS/ReL_2M/MGEN/mner> gdb  /home5/kjansen/SCOREC-core/buildMGEN_write3D/test/matchedNodeElmReader core.19660
GNU gdb (GDB; SUSE Linux Enterprise 12) 8.3.1
Copyright (C) 2019 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free sof

[2021-05-29 16:03] cwsmith commented on #338
# lion_eprint

Are you capturing stdout and stderr?  `lion_eprint` writes to stderr; `e` stands for error.

The verbosity level set here

https://github.com/SCOREC/core/blob/6dd96dbb378cac7815d41da34f0ee23a983da4f9/test/matchedNodeElmReader.cc#L790

is correct for the added call(s) to `lion_eprint`; i.e., `lion_verbosity_level` >= the level set for the given print statement.

https://github.com/SC

[2021-05-29 16:50] KennethEJansen commented on #338
kjansen@pfe27:/nobackup/kjansen/SeparatedBump/DNS/ReL_2M/MGEN/mner> file /home5/kjansen/SCOREC-core/buildMGEN_write3D/test/matchedNodeElmReader
/home5/kjansen/SCOREC-core/buildMGEN_write3D/test/matchedNodeElmReader: ELF 64-bit LSB executable, x86-64, version 1 (GNU/Linux), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 3.0.0, not stripped

[2021-05-29 16:53] KennethEJansen commented on #338
Yes, I am looking in both stdout and stderr.
Yes, line 790 has what you show so I would expect that my lion_eprint statements are not being stopped by verbosity level.

Does lion_eprint flush its buffer?  If not, given that these are likely  the lines written right before a crash then they  may  not get flushed before  mpi kills the job?

Is there a function to flush the buffer?

[2021-05-29 16:55] cwsmith commented on #338
OK.  The output lists 'not stripped' so there are debug symbols... GDB and addr2line should work.  I guess MPT maybe doing something unexpected.

`lion_eprint` writes to `stderr` which is not buffered on systems I'm familiar with.

https://github.com/SCOREC/core/blob/4d659af3c5f01420013823e2a2b6a354e7d92deb/lion/lionPrint.c#L52

[2021-05-29 17:01] KennethEJansen commented on #338
ok then I guess we would have to conclude that n is NOT > 100 M.

I have made a code that makes every variable in this routing Gid and am waiting for it to run.  Here is the altered source.  Note I have duplicated nverts to nvertsG and still use nverts in some function calls that I suspect expect an int and not a long and am hoping that setting that equal to a Gid variable gets cast properly acros

[2021-05-29 17:09] KennethEJansen commented on #338
Confirmed.  Gid for all integers in setCoords works for the small problem on the viz nodes.

verify is not commented out so the mesh created seems is at least correct to that measure.

I guess we will see if this resolves the int overflow issue in PCU_Comm_Pack

[2021-05-29 17:19] KennethEJansen commented on #338
While I had the code there, I also modified it to trigger my debug statements when n > 10000 instead of 100M.  At least on the viz nodes, this did produce the expected output from lion_eprint.  From this we may??? conclude that, at the time the conditional is evaluated n is NOT overflowing its int and thus n*3*sizeof(double) should not be the absurd number that PCU_Comm_Pack is trying to allocate?

[2021-05-29 20:35] jacobmerson commented on #338
I'm just loosely tracking what you guys are doing but for the assignment you are doing the implicit conversion is functionally equivalent to the following.
[code]
This is safe since it is a widening conversion i.e., long has at least as many bits as int.

[2021-05-30 20:26] KennethEJansen commented on #338
So my lion_eprint produced 59 sensible statements (on 80 proceses) and 21  core files that did not report their output.  I think I need to through a barrier before the call to PCU_Comm_Pack so that I can get all of the output?  If anybody can save me searching the code for an example of how you folks do barriers that would be great.

[2021-05-30 20:41] jacobmerson commented on #338
I think you can do the following:
https://github.com/SCOREC/core/blob/4d659af3c5f01420013823e2a2b6a354e7d92deb/pcu/PCU.h#L55

Alternatively, you can get the MPI Comm and do whatever you want...
https://github.com/SCOREC/core/blob/4d659af3c5f01420013823e2a2b6a354e7d92deb/pcu/PCU.h#L121

[2021-05-30 21:36] KennethEJansen commented on #338
Yep.  I just added this
  if(n > 1000) {
     Gid sizeToSend=n*3*sizeof(double);
     lion_eprint(1, "setCoords int overflow of: self=%ld,mySize=%ld,total=%ld, n=%ld,to=%ld, quotient=%ld, remainder=%ld start=%ld, peers=%ld, sizeToSend=%ld, nvertsG=%ld, nverts=%u \n",self,mySize,total,n,to,quotient,remainder,start,peers,sizeToSend,nvertsG,nverts);
//  Gid peersG = PCU_Comm_Peers();
//    Gid quotie

[2021-05-30 21:59] KennethEJansen commented on #338
That said, I don't see how our problem could be located here.  Lets test this logic path:
1) this code streams in N mesh nodes from a single coordinates file into 80 processes
2) the logic is such that N/80 go onto each of the first 79 processes and process 80 gets that number plus the < 80 leftovers
3) thus we should  have 79 equal sized node counts and one process with negligibly more when N is

[2021-05-31 02:39] KennethEJansen commented on #338
I managed to get an 8 hour, 80 node interactive session.  I attempted to attach to   From this I figured out that I was not really  getting symbols.  Turns out that I had this

-DSCOREC_CXX_WARNINGS=OFF \
-DSCOREC_CXX_OPTIMIZE=ON \
-DSCOREC_CXX_SYMBOLS=ON \
-DSCOREC_CXX_FLAGS='-fpermissive' \

and it looks like that clobbered the request for symbols.
I have rebuilt and now gdb lists source and pri

[2021-05-31 03:35] KennethEJansen commented on #338
so our problem is much simpler than we thought.
void readElements(FILE* f, FILE* fh, unsigned &dim, unsigned& numElms,
 8B elelements cannot be counted by an unsigned int.

[2021-05-31 04:06] jacobmerson commented on #316
As evidence of this problem see issue #338. Symbols were not exporting due to us overwriting flags in `bob.cmake` and this made the debug process *much* harder.

[2021-05-31 11:54] KennethEJansen commented on #316
Obviously, I agree with Jacob.  I might have below average CMAKE skills but, if the intent is to control/protect the flags being set to somehow reduce mistakes that objective is not being met.  A few more "seasoned"  CMAKE gurus also had eyes on my CMAKE configuration and did not see my "foul" of adding a flag and clobbering my request for symbols.  It was not until the third person plainly told m

[2021-05-31 12:11] KennethEJansen commented on #338
Note that I went with the approach of changing EVERY vertex and element "count", both local and global, to type Gid as we we will likely hit the vertex overflow of unsigned int soon.  It is possible I converted more things than required but the code worked on my toy case and it looks like the code now gets through mesh creation on the 8B element case.  It ran out of time (I think) in verify so I a

[2021-05-31 12:17] cwsmith commented on #316
The documentation here:

https://github.com/SCOREC/core/wiki/General-Build-instructions#configure

describes that `SCOREC_CXX_FLAGS` overrides while `SCOREC_CXX_EXTRA_FLAGS` adds.

Clearly, this is not documented enough, there is not enough of a warning, and/or is against cmake best practices.

I'll contact one of our contacts at Kitware about this to get their opinion.

[2021-05-31 15:20] KennethEJansen commented on #338
Crashing  in verify.

I see now that I did not fully propagate the local element and vertex count to be Gid everywhere.  I think I have made it Gid within matchedNodeElmReader but it looks like all over apf it is an int.  As Jacob had hinted, it appears that the compiler is able to handle assignment-based casting in a sensible way but obviously  somewhere something is still wrong.

In totalview no

[2021-05-31 16:43] cwsmith commented on #338
The verify functions should be checking on-part topology and then ensuring connectivity of mesh entities across the part boundary is correct.  AFAIK, none of this should need long ints unless the on-part mesh entity count in a given dimension exceeds 2^31.  At 24M verts per process we are a long way from that limit.

[2021-05-31 16:59] KennethEJansen commented on #338
That is what I thought but it seems something is still asking for > INT_MAX messages.  I don't really understand the messaging construct of PCU.  I guess helper functions prepare the messages and allow a no-argument call to PCU_Comm_send but this makes it harder for me to see/figure out who could be making a message larger than INT_MAX.

Of course it is more than likely NOT a message that is that

[2021-05-31 17:09] KennethEJansen commented on #338
In about 1.5 hours TotalView will get to verify and I will get one-shot to walk the verify process.  I say one shot because TV seems to crash/exit and not let me look at a real stack trace after that.  I suppose I can try  to put a break inside of PCU stuff and in particular on the assert that is reporting the message larger than INT_MAX?

I guess that is here

 60 void pcu_pmpi_send2(pcu_message*

[2021-05-31 19:04] cwsmith commented on #338
On each sending process PCU aggregates messages into buffers for sending to a single destination.  This is done with the sequence of `PCU_COMM_PACK` calls.  Following this is the asynchronous sending of all the buffers with PCU_Comm_Send().  Each process then calls `listen` and `PCU_Com_Unpack`(don't recall the exact apis offhand) to receive messages.

I assume the buffer had a handful of messages

[2021-05-31 19:47] jacobmerson commented on #338
I thought of something that might be useful...if the compiler you are using is new enough you can use a sanitizer to catch these integer errors that you are running into at runtime and cause a crash with a stacktrace. For example compiling a test program with the following sanitizers turned on catches the integer overflows and narrowing conversions.

[code]
The sanitizers should be in both `gcc` a

[2021-05-31 19:53] KennethEJansen commented on #338
Thanks for the suggestion.  Do you know if that will catch cases that are not overflowing int?  I ask because, at least in my experience, sanitizer gets very slow and or plane gives up on large memory case and I am already struggling 3.5 hours to get to the crash and have a max of 8 hours in the queue..  I will try  it on the small case and see if it finds issues on that one though I don't have cl

[2021-05-31 19:58] KennethEJansen commented on #338
Also, won't
 SCOREC_CXX_FLAGS with the -fsanitize

 kill my symbols as per your prior ticket?

[2021-05-31 20:01] jacobmerson commented on #338
W.R.T. the `SCOREC_CXX_FLAGS` I don't remember what's the correct way to do it...I usually end up having to hack `bob.cmake` to make things happy :( So, do whatever you have been doing to set your flags...

There is a whole bunch of sanitizers that you can turn on. Depending on the sanitizer there is a runtime/memory overhead. The overhead is usually fairly small, especially if you are used to usi

[2021-05-31 20:04] jacobmerson commented on #338
I think I realize what you are asking now...yes it will give an error if you are doing narrowing conversion that isn't overflowing. See the following example:

[code]
Gives the following error:
[code]

When compiled with:
`clang++ -fsanitize=implicit-unsigned-integer-truncation,implicit-signed-integer-truncation,implicit-integer-sign-change,signed-integer-overflow,unsigned-integer-overflow test.cc

[2021-05-31 20:22] KennethEJansen commented on #338
Thanks but I don't have clang and an attempt with gcc 6.3 did not work.  I only find a small subset of those on
gcc.gnu.org

So I will bug Ben to install clang and try this later.

[2021-05-31 20:38] jacobmerson commented on #316
The problem isn't so much that it's not documented, but that overriding `CMAKE_CXX_FLAGS` (or any other `CMAKE_` variable ith a `set()` command is not standard practice. Most C++ devs who have used CMake will just expect whatever you set there gets passed through.

looking through [bob.cmake](https://github.com/SCOREC/core/blob/4d659af3c5f01420013823e2a2b6a354e7d92deb/cmake/bob.cmake)

I see almos

[2021-05-31 20:53] jacobmerson commented on #338
I thought `gcc` had most of the UBSan stuff. I don't usually compile core with `clang`...let me double check that it works since clang takes a while to build and I don't want to lead you down a dead end.

[2021-05-31 21:38] KennethEJansen commented on #338
Perhaps @cwsmith or @rickybalin  knows why  Simmetrix is "in there" .  It is box model and there are no expression based attribute which are the usual reason for including Simmetrix.  I will try  to remove it and see if it builds.

[2021-05-31 21:41] KennethEJansen commented on #338
Confirmed that I did get it to build with the following under the latest gcc that I have installed which is 10.2.0
Here is my cmake configuration
#!/bin/bash -ex

### For Chef
cmake \
-DCMAKE_C_COMPILER=mpicc \
-DCMAKE_CXX_COMPILER=mpicxx \
-DSCOREC_CXX_WARNINGS=ON \
-DSCOREC_CXX_OPTIMIZE=OFF \
-DSCOREC_CXX_SYMBOLS=ON \
-DSCOREC_CXX_FLAGS=-fsanitize=signed-integer-overflow \
-DENABLE_ZOLTAN=ON \
-

[2021-05-31 21:50] KennethEJansen commented on #338
unsurprisingly, that build went through on the small problem with out any report from sanitizer.

[2021-05-31 23:51] KennethEJansen commented on #338
While I wait with 5 jobs queued on every possible NAS node configuration for another shot at debugging I was taking a look at the TotalView image and noting that  Main->verify->verifyRemoteCopies->sendAllCopies is an actual call stack but beyond that the functions do not.  That is the stack says that PCU_Comm_Send is next but
257 static void sendAllCopies(Mesh* m, MeshEntity* e)
258 {
259   Copies

[2021-06-01 05:35] KennethEJansen commented on #338
Sadly, I don't know enough about what this part of the code is trying to do nor what is in the data structures that support it.  The optimize=ON code was a fail but at least the optimize=off code did manage to get the the crash.  SIll, even using Totalview to dive on every struct I could find, I really don't uderstand where the buffer size got set (more likely clobbered) but maybe these screen sho

[2021-06-01 12:37] KennethEJansen commented on #338
I got up before the NASA folks and grabbed 80 nodes for the next 7.5 hours. I have launched a TotalView on the OPTIMIZE=OFF executable.  Unfortunately, I don't have a very  clear plan of attack so, while I wait for the code to get to apf::construct (estimate about 2 hours) and/or apf::setCoords (estimate another 1-2 hours?) I am going to think out loud here.

Presumably the issue is that  elements

[2021-06-01 14:58] KennethEJansen commented on #338
![Screen Shot 2021-06-01 at 8 52 01 AM](https://user-images.githubusercontent.com/11969926/120344407-c9c68880-c2b6-11eb-849d-bc759c45f02a.png)

Could this be our PCU problem?  On the left is prior code.  On the right are my changes to propagate the Gid (long). I am trying to be go through and remove all un-necessary promotions to Gid but I see here that we ARE sending longs to pcu and if pcu is re

[2021-06-01 15:34] cwsmith commented on #338
Packing a `long` is OK if we unpack it as `long`.

The `int gid = it->first;` in the `globalToVert` iterator is concerning for cases with >= 2^31 vertices.

[2021-06-01 15:50] KennethEJansen commented on #338
OK I will proceed assuming that PCU can handle long but it is really unclear to me that this is true.

[2021-06-01 16:21] KennethEJansen commented on #338
I sometimes get map-form-dyslexia and this is especially tricky when we are dealing with whether the index that is the argument of the map is what needs to be long or if it is the result of the map that needs to be long OR if the result is a memory pointer so lets review what we actually have here:

  APF_CONST_ITERATE(GlobalToVert, globalToVert, it) {     // sets up an iterator called it that is

[2021-06-01 16:42] KennethEJansen commented on #338
int start = PCU_Exscan_Int(nverts);

 From the comment it looks like it wants to sum over all ranks lower but this is going to overflow int when GlobalVerts overflows ints on Nranks-1.  I guess we need to make  long version for that coming need?

[2021-06-01 19:51] KennethEJansen commented on #338
I made by best guess at the line 404  question and chased all the bugs the compiler could find out and then a couple more to get the small test case to run.

If @cwsmith has a chance to review the code change that would be great as I am waiting for nodes to come available to try to see if this resolves the issue.

[2021-06-01 22:38] KennethEJansen commented on #338
Given the really poor node placement which I now understand to be a product of multi-topology, @cwsmith can you confirm that linear node placement is assumed throughout but it is only assumed at the beginning that the elements will be linearly  placed on each increasing rank?

That is to say, if I mess with that and place the first N_wedge elements in a proportion that the nodes are going to land

[2021-06-02 03:10] KennethEJansen commented on #338
I tried this and it seems to work.  That said, I am thinking of an even better format which is quite compatible with my  mesh generator.  What do you think about making a version of the code that instead of a single crd file it reads  xxx.crd.n and xxx.cnn.n where n is the desired number of parts we plan to run matched node element reader file and each process reads its own UNIQUE crd and cnn file

[2021-06-03 02:29] KennethEJansen commented on #338
79 readMatches numvtx 2153878936 localnumvtx 26923542 firstVtx 2126955394 lastVtx 2153878936

Made me think I had the issue fixed but then it crashed with

ibmthca-rdmav2-debuginfo-1.0.6-5.2.x86_64 libnl3-200-debuginfo-3.2.23-4.4.6.x86_64
MPT: (gdb) #0  0x00002aaaaecaa7da in waitpid () from /lib64/libpthread.so.0
MPT: #1  0x00002aaaaf60d906 in mpi_sgi_system (
MPT: #2  MPI_SGI_stacktraceback (
MPT

[2021-06-03 03:20] jacobmerson commented on #338
Might be missing something, but I think tags can overflow...tags are in the c interface and just hold bytes of `void*` data.

For example see where the mds tags are created:
https://github.com/SCOREC/core/blob/f739597386af6de172bd6162b10aca2f0760c140/mds/mds_tag.c#L57-L74
And the call from `apf` just sets the bytes to `sizeof` the type.
https://github.com/SCOREC/core/blob/f739597386af6de172bd6162b

[2021-06-03 05:30] KennethEJansen commented on #338
Thanks for the explanation. Will dig on it.

[2021-06-03 11:50] KennethEJansen commented on #338
While the above was certainly an issue, my thorough pass through apfConstruct.cc identified that I had missed some rather critical places that match was still an int (everywhere else it was correctly changed to a Gid).  That said, the old code ran on the small problem while the new code fails. The code changes that "broke" the code are at the top of MGEN_write3D (committed and pushed) while the bu

[2021-06-03 14:03] KennethEJansen commented on #338
The last lurking int demons (I hope) were in apfConvertTags.h.  Both branches were fixed, verified on the small case, and pushed.

Philosophically, why is setMappedTag CODE in apfConvertTags.h?  That is to say, when and why is it a good idea to put code in a .h file?  Not that this is WHY i missed that this was another place that there were many int that needed to be Gid but had I done searches fo

[2021-06-03 14:20] cwsmith commented on #338
Nice.

[`setMappedTag`](https://github.com/SCOREC/core/blob/111d9d6f3eecd9e92f1d2b7e80f569909f7b4c7b/apf/apfConvertTags.h#L60) is templated on the tag type (int, long, etc.).  My simple explanation, which likely misses important facts, is that each time the function is called with a different tag type the compiler needs to create an instance of the code for the specific type if it has not done so

[2021-06-03 19:01] KennethEJansen commented on #338
Distributed read is done in 15 seconds on 160 cores and has already overtaken at single file read that started an hour earlier.

[2021-06-03 19:19] KennethEJansen commented on #338
sadly

MPT: #8  0x000000000048f485 in PCU_Comm_Pack (to_rank=to_rank@entry=159,
MPT:     data=data@entry=0x36ba9240, size=18446744073709551548)
MPT:     at /home5/kjansen/SCOREC-core/core/pcu/pcu.c:145
MPT: #9  0x000000000043aedc in apf::setMappedTag<int> (m=m@entry=0x12b6ada10,
MPT:     tagName=tagName@entry=0x4922a2 "classification", vals=0x36ba9240,
MPT:     entries=entries@entry=1, nverts=1346

[2021-06-03 20:00] KennethEJansen commented on #338
OPTIMIZE=OFF version

*** Error in `/home5/kjansen/SCOREC-core/buildMGEN_write3D/test/matchedNodeElmReader': free(): invalid pointer: 0x0000000276f5ea00 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x7749f)[0x2aaab01da49f]
/lib64/libc.so.6(+0x7c916)[0x2aaab01df916]
/lib64/libc.so.6(+0x7d75b)[0x2aaab01e075b]
/home5/kjansen/SCOREC-core/buildMGEN_write3D/test/matchedNodeElmReader[0x491749]
/hom

[2021-06-03 20:06] KennethEJansen commented on #338
kjansen@pfe27:~/SCOREC-core/buildMinusGP> addr2line -e test/matchedNodeElmReader 0x43b1b7
??:0

no help from there

[2021-06-03 20:33] KennethEJansen commented on #338
OPTIMIZE OFF says this so size is blowing up

MPT: #6  0x00002aaaac3e0247 in raise () from /lib64/libc.so.6
MPT: #7  0x00002aaaac3e161a in abort () from /lib64/libc.so.6
MPT: #8  0x0000000000525c1d in PCU_Comm_Pack (to_rank=159, data=0x36c61240,
MPT:     size=18446744073709551548) at /home5/kjansen/SCOREC-core/core/pcu/pcu.c:145
MPT: #9  0x000000000049b5a6 in apf::setMappedTag<int> (m=0x12b765a10,

[2021-06-03 21:15] jacobmerson commented on #338
I took a skim through the templated code you were asking about:

`globalToVert` is a map and the Gid (long), so you you need the long version here.
https://github.com/SCOREC/core/blob/111d9d6f3eecd9e92f1d2b7e80f569909f7b4c7b/apf/apfConvertTags.h#L14

Not necessarily a bug, but the fact that you commented out the failure indicates you hit this in the past! Essentially this is your base template, so

[2021-06-03 21:18] jacobmerson commented on #338
@KennethEJansen Point me at the code where you are giving a `int*` but the template it matching with `long*` I can probably tell you what's going on with the template.

[2021-06-03 21:26] KennethEJansen commented on #338
Thanks Jacob.  I am not sure if @cwsmith has opened up access to this but the code is here
kjansen@viz003: /projects/tools/SCOREC-core/core (MGEN_Parted)$ git remote -v
andy	https://github.com/a-jp/core.git (fetch)
andy	https://github.com/a-jp/core.git (push)
cws	git@github.com:cwsmith/core.git (fetch)
cws	git@github.com:cwsmith/core.git (push)
origin	git@github.com:SCOREC/core.git (fetch)
origin

[2021-06-03 21:36] jacobmerson commented on #338
Is either the MGEN_Parted or MGEN_write3D branch on the SCOREC github up to date? I need to take a look at the template definition.

[2021-06-03 21:38] KennethEJansen commented on #338
It has the bugs you  noted above.  I will push my  interpretation of your fixes to _Parted now

[2021-06-03 21:58] jacobmerson commented on #338
I don't see how it's possible that
https://github.com/SCOREC/core/blob/20cdfc0f4c64d6aee0b9af1a45478c2b7f53b4a5/test/matchedNodeElmReader.cc#L819-L820

Is using `long *` with the following template definition, since the m.classification should be int*.
https://github.com/SCOREC/core/blob/20cdfc0f4c64d6aee0b9af1a45478c2b7f53b4a5/apf/apfConvertTags.h#L70-L73

What's making you think that when you ca

[2021-06-03 22:00] KennethEJansen commented on #338
I was just going by the fact that when it crashed size > INT_MAX but maybe that is not the reason.

[2021-06-03 22:24] KennethEJansen commented on #338
We have a bigger problem.    total=max+1 where max is supposed to be the max across ranks of globalToVert is returning
2140417137
while
m.numVerts =
21538878936.

I have verified that the last element does have that node in it so I guess I need to figure out what is going wrong in the construction of globalToVert since that is where it supposed to come from?

[2021-06-03 23:58] KennethEJansen commented on #338
The first computation of Max is correct but it seems that in the process getMax or  PCU_Max_Long destroy globalToVert as it has junk soon after.  Running again to see how that happens.

Is this routine intended to operate on key-value stores?

[2021-06-04 02:09] KennethEJansen commented on #338
Totalview licenses were taken so I wrote some code to try to check this theory
  Gid ifirst=0;
  int self2 = PCU_Comm_Self();
  APF_ITERATE(GlobalToVert, globalToVert, it) {
    Gid gid = it->first;
    if(ifirst==0 || ifirst==13437400 ) {
        lion_eprint(1, "constructResidence: self=%ld,gid=%ld,ifirst=%ld  \n",self2,gid,ifirst);
    }
    ifirst++;
  }

  Gid max = getMax(globalToVert);

  AP

[2021-06-04 05:23] jacobmerson commented on #338
Ok. I might be missing something, but you don't do `ifirst=0` after the call to `getMax`, so I would only expect the second loop to print once. I guess what you are saying is that you get a segfault or something when `getMax` is called? The `getMax` function doesn't do anything suspect although I'm not familiar with the details of PCU. The tricky thing about memory errors is that where it crashes

[2021-06-04 12:10] KennethEJansen commented on #338
You are correct.  The code did have the ifirst=0.

Magically, I ran it outside of totalview as I went to bed last night and it ran through.  Note this had all your bug fixes except these which I rolled back because I could not get them to compile.  I am offline most of today but leaving the smoking gun here for further review and/or help with how to get Long Tags properly .  Also pasting a grep th

[2021-06-05 04:21] KennethEJansen commented on #338
Apparently we are NOT out of the woods yet.  Chef did not like the mesh it seems

kjansen@pfe26:/nobackup/kjansen/SeparatedBump/DNS/ReL_2M/MGEN190_Parted/Chef/4320-160-Chef> tail -f output.11201203
PUMI Git hash 2.2.0
PUMI version 2.2.0 Git hash a3ee8c9d169ea00f6f36562279e99b04d472a95e
"../outModel.dmg" and "../LES_Periodic.spj" loaded in 0.003206 seconds
mesh ../../mner/outMesh/ loaded in 551.383

[2021-06-05 14:07] KennethEJansen commented on #338
Cut back to splitFactor of 9 and got this errorPUMI version 2.2.0 Git hash ba64b1d1574f43c77cb1df4c6aa99540c51d59f6
"../outModel.dmg" and "../LES_Periodic.spj" loaded in 0.004470 seconds
mesh ../../mner/outMesh/ loaded in 236.142403 seconds
number of tet 1768308546 hex 0 prism 3703246344 pyramid 0
mesh entity counts: v 2151489252 e 9490228518 f 12807904473 r 5471554890
chef: ibdev_multirail.c:4853

[2021-06-05 14:13] KennethEJansen commented on #338
I just noticed that  doubles used int for entries so maybe that is my problem.  This compiled so I will give it a go.

diff --git a/apf/apfConvertTags.h b/apf/apfConvertTags.h
index 44da7db6..020916fa 100644
--- a/apf/apfConvertTags.h
+++ b/apf/apfConvertTags.h
@@ -29,7 +29,7 @@ namespace {

   template <> inline
   apf::MeshTag* createTag<long>(apf::Mesh* m,
-      const char* name, const long en

[2021-06-05 17:43] KennethEJansen commented on #338
That build leads to different crashing in Chef (after rerunning matchedNodelElmReader of course)

[0] Zoltan ERROR in DD_Update_Local (line 278 of ../../src/Utilities/DDirectory/DD_Update.c):  Invalid input parameter
[0] Zoltan ERROR in DD_Update_Local (line 278 of ../../src/Utilities/DDirectory/DD_Update.c):  Invalid input parameter
[0] Zoltan ERROR in DD_Update_Local (line 278 of ../../src/Utili

[2021-06-05 19:28] KennethEJansen commented on #338
Switching from _graph_ to _zrib_ dodged that issue and successfully planned the partition. I suppose I should not be surprised that the actual migration is taking
[code]
 and nothing for about an hour I only have a 26 minutes left according to top and I am guessing it won't complete and even if it does with the two reading processes consuming 38 and 35GB and them needing to push 1/3 of that onto t

[2021-06-06 13:29] KennethEJansen commented on #338
local zrib came close to working before running out of memory AFTER the mesh had been migrated.  I am trying it again on a larger number of nodes and am hopeful it will work.

This raises an efficiency  question.  @matthb2 and @cwsmith , do either of you know how to control the process layout to make somethinng like local zrib completely "on-node"?  It looks to me like the first stage "works:".  T

[2021-06-07 12:12] KennethEJansen commented on #338
The following  worked:
1) mesh generation  of a 2.15B node, 5.47B element (3.70B Wedges and 1.77B Tet) mesh in serial, streamed to 160 files with linearly distributed  nodes and approximately matching ranges of elements.

2) matchedNodeElemReader parallel ingested those files and produced an mds mesh using 60 Cascadelake nodes (each restricted to 3 processes).  The PBS log reported the following
s

[2021-06-07 14:45] cwsmith commented on #316
Given that cmake has moved on since `bob.cmake` was written I think we are due for a more comprehensive and cohesive overhaul.   The current approach basically defines a custom interface to control some key cmake variables.  If users understand it, it works, but there is a lack of documentation and 'strange' things happen when users make changes by directly changing cmake variables.  I'm fine with

[2021-06-08 18:17] cwsmith commented on #334
This is fixed again with https://github.com/SCOREC/core/commit/06119fc71d6599fbab531c24b20370b08aa1465a.  I didn't see any chef errors running on SCOREC Rhel7 and my arch linux desktop.

[2021-06-11 20:00] cwsmith commented on #334
Spoke too soon.  The errors appear in tests using Simmetrix: https://my.cdash.org/test/34314082

[2021-06-11 20:07] cwsmith commented on #334
`chef7`
-  is a diff of the output from `chef6` against 'good' output
- `chef6` runs without any obvious issues
- Given the change, it is likely a string in the gcc10 build's output that changed.

`ph_adapt`
- loads a simmetrix geomsim smd model and scorec smb mesh
- reads from `1-procs_case` directory of the test directory
- In the gcc 10 build the fields attach correctly, and there is a failure

[2021-06-16 13:11] nlelong opened #340 "Pumi mesh with mesh parts of different dimensions"
Hello !

I'm using PUMI as the underlying distributed mesh library in our mechanics code. On some occasions we will want to have mesh parts of different dimensions interacting with each other (e.g. beam/shell elements) in our mesh.
When I try to do that with PUMI, adjacencies seem to work fine but the mesh can't be verified (it crashes).
The following example tries to add a 1D element and a 2D ele

[2021-06-18 15:51] cwsmith opened #341 "PUMI 2.2.6"
This issue is to document functionality and features added to PUMI 2.2.6 since the [2.2.5 release](https://github.com/SCOREC/core/issues/326):

- Improved high order mesh adaptation and field support (#331, #327, #311)
- Simmetrix SimModSuite support increased to 15.0-210501 (993ee2f)
- GCC 11 support (#339)
- GCC 10 bugfix (#334)

[2021-06-22 03:21] cwsmith commented on #340
Hello.  I pushed your example code to a branch (with some cleanup)

https://github.com/SCOREC/core/blob/e0839b748ffb3b2717090d6cb70966010dc4d2da/test/nonmanifold.cc

and ran it.  It wrote the following output (without this call https://github.com/SCOREC/core/blob/e0839b748ffb3b2717090d6cb70966010dc4d2da/test/nonmanifold.cc#L13 pumi is silent):

[code]

The key here is that the `NULL` model has no

[2021-06-25 12:54] cwsmith commented on #341
@mortezah Do you see any commits in the list below that should be highlighted or any edits to the feature list in the opening post?

[code]

[2021-06-25 13:12] mortezah commented on #341
@cwsmith the current list looks complete.

[2021-06-29 12:11] cwsmith commented on #218
I assume this is no longer an issue and closing it.

[2021-06-29 12:11] #218 closed

[2021-06-29 12:12] cwsmith commented on #192
I assume this is no longer an issue and closing it.

[2021-06-29 12:12] #192 closed

[2021-07-11 04:55] KennethEJansen opened #346 "Add a feature to Chef to double domain in one direction of an existing mesh/simulation-with-solution"
In our simulations it is not uncommon to run for a time at one domain width and then desire to continue the simulation with twice the domain width at the same resolution (thus doubling the number of elements  and  (almost) doubling  the number of nodes). There are a few ways to do this:
1) brute force - regenerate the mesh and find some tool to interpolate with wrapped  periodicity from the curren

[2021-07-12 18:22] cwsmith commented on #306
C++11 is required with #345 .

[2021-07-12 18:22] #306 closed

[2021-07-13 16:30] ikalash opened #348 "Build error when building SCOREC using Trilinos develop"
It looks like a build error has cropped up when building SCOREC under Trilinos (develop branch).  I believe it is due to changes to the STK package.  Here is the error:

[code]
Could someone please have a look at this?

[2021-07-13 16:59] cwsmith commented on #348
@ikalash I pushed what I think is the fix for this to the pumi develop branch (https://github.com/SCOREC/core/commit/9790ed824cbbee939f18db7013a416691ba816e1).  I'll see if I can get spack to build me a trilinos stk+pumi build to test it.

[2021-07-13 17:39] ikalash commented on #348
@cwsmith : thanks, your commit fixes the problem!  I am using master in my nightly tests of SCOREC.  Should I switch to develop?  How soon will this change make it into SCOREC master?

[2021-07-13 17:41] cwsmith commented on #348
@ikalash Great.  The develop branch will be merged into master tomorrow morning around 8am eastern.

[2021-07-13 17:43] ikalash commented on #348
Ok, in this case, I will keep my tests using master I think.  Thanks for fixing this so fast!

[2021-07-13 17:43] #348 closed

[2021-07-16 22:07] KennethEJansen commented on #338
The above celebration was premature.  A twice bigger grid has been failing miserably and we have found several more overflows. @jacobmerson, we did finally  get the -undefined flag added with @cwsmith help and it was great at finding a few overflowing int products that I did not realize needed casting to land on on a long RHS of the equality without overflow.

However, we are apparently  still mis

[2021-07-17 02:30] KennethEJansen commented on #338
My conversion from 320 parts to 160 parts completed and this was the case I fed to Totalview that I described above.  The conversion code was written between 2 hours past when I usually sleep so it could be wrong BUT it does crash during the creation of the remotes rather than during verify
 2920 MPT: #7  0x00002aaab0eb161a in abort () from /lib64/libc.so.6
 2921 MPT: #8  0x00000000006ee72e in pcu

[2021-07-17 07:56] KennethEJansen commented on #338
I restored the writing of debug information, compiled with gcc 9.3 (newest available), searched the docs for the flags @jacobmerson listed above (found none of them so stuck with -fsanitize=undefined ) and reran the 320 part case (no surgery to come down to 1600.  It looks like pretty much the same crash  BUT  now we hav debug<rank>.txt information that was written at the time of the remote constr

[2021-07-17 15:57] #341 closed

[2021-07-17 22:42] KennethEJansen commented on #338
Humbly reporting that the above is full of miss-statements.   While there are ONLY 13.5 M verts on a part, I failed to remember that mds tracks edges, and face remotes as well (e = 4.5xv, f=6*v both approximate for this mesh that is a mix of wedges and tets ) AND the code also sends messages to **self** .  Finally it packs this all into ONE message for all entities and overflows INT_MAX. I broke t

[2021-07-18 20:21] cwsmith commented on #338
I think some of the self sends are used to deal with matched meshes.

[2021-07-29 15:17] mortezah opened #349 "Issue with recovered field in SPR"
There seems to be a bug inside SPR routines, that causes the successively adapted meshes to not converge for some examples. For example, attached is a picture of adaptive-solve (with MFEM and PUMI) for a linear elasticity problem on the upright model. In this picture going from the 1st adapted mesh (middle mesh in the top row) to the 2nd adapted mesh (right mesh in the top row), the mesh gets coar

[2021-09-15 00:22] mortezah opened #351 "Higher order visualizations"
Due to increased involvement with high-order fem codes, I guess it would be worthwhile to extend/improve high-order visualization APIs in SCOREC/Core.

At the moment we support high-order mesh visualization via the two APIs `crv::writeCurvedVtuFiles` (which creates tesselations of mesh tets or tris) and `crv::writeCurvedWireFrame` (which tesselation of mesh edges). And we don't have any simple way

[2021-09-21 14:14] cwsmith commented on #351
This looks promising.  Good find :+1: . Are there any drawbacks vs. the current approach?

[2021-09-21 14:43] mortezah commented on #351
@cwsmith

There is no drawback when compared to the current approach.

It makes things a lot cleaner though. For example we won't need two different outputs to load to paraview anymore, for curved meshes.

Both approaches are supposed to create large files.

[2021-09-29 23:01] cwsmith commented on #351
@KennethEJansen mentioned in a call today that several filters (slice, contour, etc.) revert back to linear elements with some of the higher order element types.  I'm not sure if the same element types were being used in both cases.

[2021-12-03 12:59] wcdawn opened #355 "Gmesh mesh with Physical Entities"
Thanks to some help from @cwsmith, I have been able to split a mesh using `from_gmsh` and `zsplit`. (Original [issue](https://github.com/mfem/mfem/issues/2542)).

In my mesh, I use Physical Entities from Gmsh to specify different material compositions. However, it seems like all elements in the PUMI mesh have the same material. Is there a way to preserve these element material numbers/attributes?

[2021-12-03 15:39] cwsmith commented on #355
Hi @wcdawn.  I'm glad that worked out.

Do you have a small (?) example gmsh mesh with the different Physical Entities?   I found a few gmsh examples here but the few I looked at don't appear to have them.

It looks like our reader supports ascii version 2 legacy formats containing `$Nodes` and `$Elements` sections.

http://gmsh.info/doc/texinfo/gmsh.html#MSH-file-format-version-2-_0028Legacy_0029

[2021-12-03 16:10] wcdawn commented on #355
Thanks for the help. Fortunately, my Gmsh files already use the v2.2 legacy format.

I have a series of refined meshes so I can share a coarse one [here](https://drive.google.com/file/d/17ys0etZrdI68j94jidMPHD8uKB5zacAV/view?usp=sharing). If that is too coarse, I have others as well.

[2021-12-15 21:01] #340 closed

[2021-12-15 21:02] #323 closed

[2021-12-15 21:03] #319 closed

[2021-12-15 21:05] #277 closed

[2021-12-15 21:07] #293 closed

[2021-12-16 21:28] cwsmith commented on #355
@wcdawn The `from_gmsh` utility in the `cws/gmshTags` branch supports creating an apf tag from the 'physical type' listed for each face and region in the `Elements` block.  Would you please test this with some of your other meshes and let me know if there are any issues?  If it looks good I'll merge it into `develop`.

The screenshot below was created with `./from_gmsh .null marvel_2D_mod_r0.msh m

[2021-12-18 20:05] wcdawn commented on #355
@cwsmith thanks for taking a look at this!

The `vtu` files look good and I can see the different numbers in the tag field. However, reading the resulting `smb` file with my MFEM code still only results in one tag/material/region. It looks like this is an error with the MFEM PUMI reader [here](https://github.com/mfem/mfem/blob/8a565cad67b456bedc4b6c906226c66c2eddb79d/mesh/pumi.cpp#L523).

Should I

[2021-12-20 16:46] cwsmith commented on #355
@wcdawn Is there a geometric model used when creating the `gmsh` mesh?

[2021-12-21 16:55] wcdawn commented on #355
No. I simply have a Gmsh input file and use `.null` when generating the PUMI mesh.

[2021-12-21 16:58] cwsmith commented on #355
OK.  Thank you.  We can proceed without it.

[2022-01-16 19:15] JaredCrean2 opened #356 "Compile Error on Clang"
Got this error:

[code]
with

[code]

[2022-01-17 16:21] cwsmith commented on #356
Hi @JaredCrean2.  Thanks for reporting this.

I have not used/seen null pointer subtraction before and need to look into this more.  From my initial scan of some stack overflow comments it seems like it is used to check for type alignment.... I'm not sure how that applies here though.

[2022-01-20 20:16] cwsmith commented on #356
It looks like clang 13 should also produce this warning:
https://releases.llvm.org/13.0.0/tools/clang/docs/ReleaseNotes.html#new-compiler-flags

[2022-01-20 20:38] cwsmith commented on #356
Looking at the code again:

https://github.com/SCOREC/core/blob/8a38feae942ab5a46dc3f9fa393a68884ddddad6/gmi/gmi_base.c#L39-L46

 it appears that the purpose of the NULL subtraction is to recover an integer for the geometric model entity id.  Simply casting produces a type size warning:

https://godbolt.org/z/1r138dT17

[2022-01-20 21:34] cwsmith commented on #356
@JaredCrean2 Can you try building with the [gmiNullPtr](https://github.com/SCOREC/core/tree/gmiNullPtr) branch?  If that works for you I'll merge this into `develop`.  Note, I tested with gcc 10.1.0 on a 64b system.

There are two commits to that branch:
- https://github.com/SCOREC/core/commit/f1657e39117a2bda23b1d54cd960f44c4c21eb1c - uses `intptr_t` and asserts that the results are the same as t

[2022-01-20 21:36] cwsmith opened #357 "PUMI 2.2.7 Release"
This issue is to document functionality and features added to PUMI 2.2.7 since the [2.2.6 release](https://github.com/SCOREC/core/issues/341).

New functionality or feature support:
- Gmsh physical entity support (#355)
- Improved MeshAdapt API (#344)
- GitHub CI testing (#347, #359)
- Support XSDK v0.6.0 build-time and stand-alone testing (#353)
- Require C++11 (#345)

Bug Fixes:
- Fix bug in PCU

[2022-01-21 03:28] JaredCrean2 commented on #356
Builds with no warnings or errors.

[2022-01-21 12:16] cwsmith commented on #356
Thank you.  The branch was merged into develop: https://github.com/SCOREC/core/commit/d1caa0b420bface29e2d111c4226b8099d2e628d .

[2022-01-21 12:16] #356 closed

[2022-01-21 21:36] cwsmith commented on #355
The branch was merged into develop: https://github.com/SCOREC/core/commit/59e207bd4a6ddc5b4f47ed0c349e7d5d3cb64929 and will be merged into master tomorrow morning if the nightly tests pass.

[2022-01-23 23:01] cwsmith commented on #355
`cws/gmshTags` was merged into `master` https://github.com/SCOREC/core/commit/19185e9a8590176575721f7057764a4feafe3e4c

[2022-01-23 23:01] #355 closed

[2022-02-15 06:57] jacobmerson opened #358 "release build fails"
Since `-Werror` is turned on for the release build it fails without making some modifications to the code.

As a starting place I am working on adding the release configuration to the GitHub action so it also gets tested.

[2022-02-15 07:12] jacobmerson commented on #358
Turns out it's not the release build making things fail. Maybe turning the tests off is causing issues? I'll open a new issue once I figure it out.

[2022-02-15 07:12] #358 closed

[2022-02-21 06:52] jacobmerson opened #360 "field_io test broken with gcc in release mode"

[2022-03-03 15:51] cwsmith commented on #360
The `field_io` test reads an (1) input mesh, (2) adds a field, (3) writes the mesh with the attached field, (4) reads the mesh, and (5) verifies that the field matches.

Building with `-DCMAKE_BUILD_TYPE=Release` results in failed (5) field verification.
Building with `-DCMAKE_BUILD_TYPE=` results in successful (5) field verification.

After step (3) there are two meshes; one created by the releas

[2022-03-03 16:36] cwsmith commented on #360
The write with the release build appears to be broken and `valgrind` doesn't find any errors.  I'm checking the input to `pcu_write_doubles` now to see if it is getting the expected values.  If it does, then running the sanitizers will be my next step.

[2022-03-03 17:57] cwsmith commented on #360
It looks like the result of `pcu_swap_doubles` is different between an release (left) and non-release (right) build.

[code]

[2022-03-04 00:53] cwsmith commented on #360
This test fails with a release build and passes with a non-release build:

https://github.com/SCOREC/core/commit/e5498e04f9f1f75c880cdc72470c4adc672fc30e

A release build with `-g -fsanitize=undefined` does not produce any additional information (and still fails the test).

[2022-03-04 01:48] cwsmith commented on #360
This should be fixed as of [830be9b](https://github.com/SCOREC/core/commit/830be9b64c6eac7287acd392bd5b44441cf0e604).

[2022-03-04 01:57] #360 closed

[2022-03-04 16:57] jacobmerson commented on #360
@cwsmith does this mean that anyone who saved a mesh with release build has potentially corrupted data? We may want to put a big note or warning somewhere.

[2022-03-04 17:17] cwsmith commented on #360
Yeah, if the older/other compilers optimized in the same way, then there certainly could be broken `smb` meshes in the wild.

Any thoughts on where to put the notice of the bug besides expecting the affected users to find it in this issue?

I'm thinking an `SMB_VERSION` increase to may make sense to aid future debugging of the problem.

https://github.com/SCOREC/core/blob/4dc04098b5ef18cd8a239e2a9

[2022-03-04 17:19] jacobmerson commented on #360
Not sure but I definitely think incrementing the smb version is a good idea. In the release notes we can put a comment about why the smb version is incremented.

[2022-03-14 19:06] #315 closed

[2022-03-15 19:13] cwsmith commented on #357
Spack PR: https://github.com/spack/spack/pull/29521

[2022-03-28 03:03] eisungy opened #361 "2nd order Lagrange Prism in writing with pumi_mesh_write"
Dear SCOREC colleagues,

Hi =)

While I was trying to create a PRISM type curved element, I encoutered a seg fault in writing it into VTK using `pumi_mesh_write`.

My source code looks as below. I couldn't see a seg fault with PUMI_TET, and was able to see the curved tet in Paraview. But PUMI_PRISM causes the runtime error, the seg fault.

[code]

gdb shows below.
[code]

Could you tell me if I'm

[2022-03-28 03:29] seegyoung commented on #361
Hi Eisung, I will take a look and get back to you.

[2022-03-28 11:13] eisungy commented on #361
Hello, Seegyoung. Thank you for taking care of this issue. 🙏

[2022-03-28 17:24] cwsmith commented on #361
@mortezah

[2022-03-28 17:36] mortezah commented on #361
@eisungy does `pumi_mesh_write` write the mesh without error before changing the mesh shape?

[2022-03-28 17:38] mortezah commented on #361
nevermind my previous question.

We do not have the implementation of quadratic prisms in PUMI (see here https://github.com/SCOREC/core/blob/c2996745a3e98304dcbe30a34903d329210dcc23/apf/apfShape.cc#L538), and therefore getEntityShape returns null.

[2022-03-28 17:47] mortezah commented on #361
That being said, based on the error code it seems that the only reason getEntityShape is called is to then get the number of nodes associated with the entity which is known.

To make things work for vtk write, I guess the following should work. Implement the class for prism similar to, for example, the tet here (https://github.com/SCOREC/core/blob/c2996745a3e98304dcbe30a34903d329210dcc23/apf/apfSh

[2022-03-29 13:41] mortezah commented on #361
@eisungy @cwsmith @seegyoung  I have started working on this in PR #362, and here is the latest update:

So far I have been able to fix the problem with `writeVtk`. That is, now the mesh is written to vtk without a segmentation file. However, the node locations in the vtk file seem incorrect. I think this has to do with how we number nodes on the quadratic prism and how vtk expect them to be and m

[2022-03-29 14:01] eisungy commented on #361
Hi @mortezah , thank you for your effort and time. Also I appreciate your pointing out where I should check and read in apf. I'll take a look at your change in #362 . 👍

[2022-03-31 12:10] Thomas-Ulrich opened #363 "cast between incompatible function types when compiling core with gcc/10.2.0 and mpi.ompi/4.1.0"
Hi,

I'm trying to compile core with relatively recent compilers, and get errors due to `cast between incompatible function types`.
These errors can be bypassed by removing Werror from the FLAGS (but I suppose you want to fix the warning rather than fix the flag).

[code]

My compilers:

[code]
Some environments variables for compiling:

[code]
The compiling process and the errors:
[code]

Thanks

[2022-03-31 12:22] krenzland commented on #363
I ran into similar issues in the past when I use recent compilers. Why is Werror activated by default?

[2022-03-31 14:39] cwsmith commented on #363
@Thomas-Ulrich Thank you for reporting this and providing all the details.

It looks like we are hitting this warning/error described here:

https://github.com/open-mpi/ompi/issues/5157

I tried, and failed, to reproduce this on my arch linux based system with GCC 11.2.0 and OpenMPI 4.1.2-1.  I'm installing OpenMPI 4.1.0 now and will attempt a fix following what the other folks in that issue did.

[2022-04-14 02:56] eisungy commented on #361
I'm looking at the remaining issue.
Just for a later reference,

from
https://vtk.org/doc/nightly/html/classvtkBiQuadraticQuadraticWedge.html

[2022-05-30 00:16] JaredCrean2 opened #364 "apf::reorderMdsMesh Incompatible with Ghosting"
Calling `apf::reorderMdsMesh` after creating a ghosting leaves the data structure in an inconsistent space.  The attached file fixes it (I tried to create a branch with the change, but Github wouldn't let me).

[reorder_ghosts.patch.txt](https://github.com/SCOREC/core/files/8794576/reorder_ghosts.patch.txt)

[2022-05-31 02:40] jacobmerson commented on #364
@JaredCrean2 I will create a pull request for this with the changes. Can you provide a failing test case?

[2022-06-05 20:25] jacobmerson commented on #239
Came across this again in the code...

It's really bad that we are reinterpret casting `Matrix`/`Vector`, etc classes to `double *` in the FieldOf `getNodeValue` and `setNodeValue`. This is certainly UB and it's surprising that this hasn't broken anything yet.

For the type safety issue @wrtobin brought up we should profile how bad `dynamic_cast` is. If it's too much overhead we can at least compa

[2022-07-17 19:36] KennethEJansen opened #366 "apf::makeMdsBox"
I am trying to extend this capability or find a comparable way to introduce slightly more complicated geometric models.  As I am not a strong C++ coder, I am starting with the output (outModel.dmg)  I get from a case that IS a box and trying to understand the file contents to see what the most feasible route from the following three options:  Before listing let me state what I want.  I want to be

[2022-07-17 19:47] KennethEJansen commented on #366
Here is a sketch based on my guess (lacking coordinates) of the model but, as noted above, it seems odd that edges don't form a loop based on these coordinate definitions (or is that not a requirement and not satisfied??)
[OutModel.pdf](https://github.com/SCOREC/core/files/9128432/OutModel.pdf)

[2022-07-18 02:29] KennethEJansen commented on #366
So, if the order of the listed edges is not important and the extra numbers do not need to accurately reflect direction/usage then the attached file might work for a hole defined by  two new half cyldinder faces which introduce 6 new edges (I assume trying to do that with two new periodic edges that have no defining vertices is a bad idea) and 4 new vertices.  I will also upload a sketch of the ne

[2022-07-18 03:46] KennethEJansen commented on #366
Specifically, will the following line from phBC.cc work to load my "hand made" dmg?

133   if (gmi_has_ext(modelfile, "dmg"))
134     m = gmi_load(modelfile);
 in place of calling  apf::makeMdsBox?

[2022-07-18 04:40] KennethEJansen commented on #366
UPDATE.   I just tried the above and it worked which probably does not surprise the more experienced folks. Moving on to making a branch of the code that can interpret a classification file that makes use of those new model entities and obviously writing the mesh generator that generates the mesh on that shape with matching classification.

Obviously it will not work if I don't give it an acceptab

[2022-07-18 13:35] jacobmerson commented on #366
@KennethEJansen I don't have much experience setting up the geometric models from scratch. Is there a reason that you can't use a model that's been derived from CAD/Simmetrix?

https://github.com/SCOREC/core/wiki/Geometric-Models

[2022-07-19 12:17] Thomas-Ulrich opened #367 "installing pumi with spack"
Hi,
I'm trying to install pumi with:

[code]

For that, I updated this line
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/pumi/package.py#L97
to `mpi_id = 'mpich3'`
(else spack will look for SimPartitionedMesh-intel-mpi-2019.12.320)

~/.spack/packages.yaml looks like that:
[code]
Then I got the following errors when linking:
[code]
Any idea on what could be the cause

[2022-07-19 13:20] KennethEJansen commented on #367
@cwsmith do we have any evidence of a successful build of this toolchain with intel compilers?  In any success I have been involved with it was with gnu compilers.

[2022-07-19 17:25] cwsmith commented on #366
For the record, @KennethEJansen and I discussed the hand-coded dmg approach, and a workflow using `mdlConvert` starting from a Simmetrix/Parasolid model (as @jacobmerson pointed out above).  The first step towards the `mdlConvert` workflow is running it on a Simmetrix/Parasolid box and box w/hole model to see if it preserves geometric model entity ids.

[2022-07-20 13:53] Thomas-Ulrich commented on #367
[code]
Yes, I tried build pumi manually I got similar issue.

[2022-07-20 16:52] cwsmith opened #368 "pumi install via spack with simmodsuite=base fails"
The PUMI cmake command fails when it can't find `SimParititonedMesh-mpi` as done here:

https://github.com/SCOREC/core/blob/fc75be06a7b7dbcc7e947b4979beeb597ac6af77/cmake/FindSimModSuite.cmake#L101-L104

The `base` install of SimModSuite via Spack does not appear to include this lib. (to be confirmed)

[2022-07-20 17:15] cwsmith commented on #367
@Thomas-Ulrich I just pushed a branch to spack (https://github.com/spack/spack/tree/cws/simmodsuiteRpc) that adds the rpc dependency.  This doesn't yet resolve the issue as PUMI needs to know to look for the RPC lib.  Ideally, this would be embedded into something provided by SimModSuite, but I don't see an obvious option besides having Spack install a cmake config file.

[2022-07-22 17:51] cwsmith opened #369 "add topo model support for gmi_is_in_closure"
Thanks to @KennethEJansen for providing an initiail implementation of the topo model's function for `gmi_is_in_closure_of`.  I think it could be added to [`gmi_base.c`](https://github.com/SCOREC/core/blob/fc75be06a7b7dbcc7e947b4979beeb597ac6af77/gmi/gmi_base.c).  [test/inClosureOf_test.cc](https://github.com/SCOREC/core/blob/fc75be06a7b7dbcc7e947b4979beeb597ac6af77/test/inClosureOf_test.cc) should

[2022-07-23 01:26] KennethEJansen commented on #369
Here is something closer to the final form
[code]

[2022-07-28 21:03] cwsmith commented on #367
@Thomas-Ulrich An initial version of a CMake build system for SimModSuite is here:

https://github.com/SCOREC/simmodsuiteCmake

It currently installs a CMake config file that can be used to successfully compile and link the example in the `example` directory of that repo.  Note, it currently does not handle the `tirpc` library dependency as I'm not 100% sure what the best way is to handle its dete

[2022-08-29 19:14] SamBosch77 opened #370 "Spack test fails: "gmi failed: could not open model file""
### Summary:
Post-install with spack, the program fails the internal spack tests at runtime. Let me know if you need any additional information I could provide to help with this process.

### Error Details:

<details/> <summary/>Console output</summary>

[code]

</details>

<details/> <summary/> spack-test-out.txt </summary>

[code]

</details>

### System and Build Info:

<details/> <summary/> sp

[2022-08-29 19:19] cwsmith commented on #370
@SamBosch77 Thank you.  Is the command to run spack post-install tests (to reproduce the failures) `spack test` ?

[2022-08-29 19:28] SamBosch77 commented on #370
Yes, I believe that should reproduce the issue. I can't remember if there's a difference between `spackTestRun <hash>` and `spack test run <hash>`, but from my brief investigation they seem to yield the same output.

[2022-08-30 17:23] cwsmith commented on #370
@SamBosch77 This commit to Spack fixes the issue for me: https://github.com/spack/spack/commit/c13ed114e18b8749ce6975bc9c8a4648ce435e79
If it works for you I'll create a Spack PR.

[2022-09-23 15:15] Thomas-Ulrich commented on #367
Hi,
Thank you!
So I tried running the script to install a cmake config file but get:
[code]
Here is the full log:
[code]
I also tried to copy `FindXDR.cmake` to `simmodsuiteCmake`
(should I rename FindXDR.cmake to Findtirpc.cmake?). But then got:
```-- Cannot find RPC headers (rpc/types.h). Persistence will be disabled!```
Any idea on how to fix that?

[2022-09-25 22:10] KennethEJansen opened #371 "from_gmsh needs help updating to gmsh version 4"
Ok so this is not mainline SCOREC/core stuff and maybe has not been touched in 5 years BUT it would be really cool to keep this capability to load meshes created by gmsh into mds.  When I tried to use the tools described on the
[gmshToPumi ](https://github.com/SCOREC/gmshToPumi) page with a recent build of gmsh it failed and so I looked at the [gmsh manual](http://gmsh.info/dev/doc/texinfo/gmsh.pd

[2022-09-26 00:05] KennethEJansen commented on #371
I guess I found my problem.  It wants the 1D elements.  changed the` Edim==2` to `Edim>=1 `and it verified.

[2022-09-29 04:12] KennethEJansen commented on #371
Since Dan is retired and since Ben drafted me into this SSC challenge, I am drafting him in to help.
I am trying to map version 4 gmsh information contained between $Entities and $EndEntities  in the .msh file.  I did this by hand and got a verified mesh but boundary conditions on model face 0 did not show up for duty in PHASTA which makes me think that one or more places within SCOREC/core there

[2022-09-29 04:36] KennethEJansen commented on #371
Here is the hand made dmg (on the left) with "comments" off to the right of the gmsh .msh file information that the above code meant to read, translate and write out the dmg info (stuff on the left).  Of course the new code is also renumbering entities to make them unique and saving the map so that the mds file has a consistent classification (e.g,. run the gmsh data through the map to get mesh cl

[2022-09-29 05:49] KennethEJansen commented on #371
(base) kjansen@portal1: /projects/tools/SCOREC-core/core (gmshv4Load2MDS)$ git commit -am "made a branch for the not yet finished attempt at a reader from .msh directly into mds making a dmg along the way"
[gmshv4Load2MDS cbfc9ce6] made a branch for the not yet finished attempt at a reader from .msh directly into mds making a dmg along the way
 2 files changed, 150 insertions(+), 7 deletions(-)
 c

[2022-09-29 23:01] ibaned commented on #371
I may not have time to fully dive into this, but it may help to point out that there is Gmsh reader code in Omega_h as well:

https://github.com/sandialabs/omega_h/blob/main/src/Omega_h_gmsh.cpp

It seems to have support for format V4. Perhaps copying this to SCOREC/core would be a path forward?

[2022-09-30 22:20] KennethEJansen commented on #371
Soooo the code that I put into PR#372 satisfies verify but based on PHASTAs reaction to the code I am fairly certain that mesh vertices that should be classified on model vertices are not getting that classification.

Further, and possibly the same issue, when I assign a BC to a model face, normal chef protocol is to reconcile through inheritance what should happen on the closure of that model fac

[2022-10-01 16:23] KennethEJansen commented on #371
I might be making a tiny bit of headway understanding what is wrong but I am in so far over my head in terms of understanding the code that  does this that the following is likely littered with conceptual miss-understandings.  I guess thats what happens when a fortran person tries to use C/C++ code.  Hoping someone can see what is going wrong:
1. in the .msh file of v4 of gmsh write a section call

[2022-10-03 15:36] KennethEJansen commented on #371
PHASTA seems fine with the current commit for a simple box.  However, gmsh dumps construction vertices into the .msh file and when these are not mesh nodes classified on model vertices, the whole premise of verify (and probably SCOREC/core adjacency as a whole) is violated. I confirmed that this can be "fixed" by hand deleting all the spurious entities from mode $Entities, as $Nodes, and as $Eleme

[2022-10-05 16:18] cwsmith opened #373 "support Simmetrix SimModSuite 18"
https://github.com/SCOREC/core/commit/97ca1ef6139755a5d40cdabda0f0d182af785ee6 adds support for SimModSuite 18.

[2022-10-05 16:18] #373 closed

[2022-10-06 16:53] #371 closed

[2022-10-14 14:16] cwsmith opened #376 "Ken's PRs"
- [ ] GMSH v4 support - https://github.com/SCOREC/core/pull/374
- [ ] Extrusion tags - https://github.com/SCOREC/core/pull/375

[2022-10-19 08:08] sebwolf-de commented on #367
Hi @Thomas-Ulrich, it seems to me that rpc is not installed on our cluster ;-)
What I did:
1.) install libtirpc manually into my home directory https://www.linuxfromscratch.org/blfs/view/svn/basicnet/libtirpc.html
2.) `find test -name link.txt | xargs -n1 sed -i 's/$/ \/path\/to\/lib\/libtirpc.so/g'` :nerd_face:

[2022-10-19 13:04] #357 closed

[2022-10-19 13:22] cwsmith commented on #349
I think this may have been an off-by-one error.  https://github.com/SCOREC/mfem/commit/2d055eb0793670cf4bad3eca3a47e6967d9b783c

[2022-10-20 09:04] mortezah commented on #349
That could be the case.

[2022-10-22 01:57] KennethEJansen opened #377 "Chef makes boundary elements on periodic/matched faces"
Perhaps this has always been there for chef but I don't think it was there in the predecessor that chef was built to replace (phNSpre).  Periodic faces are not (should not be) part of the boundary that the FEM should evaluate boundary integrals arising from volume terms that were integrated by parts. We match the mesh on periodic faces and think of elements that contribute to nodes on that boundar

[2022-10-22 10:35] cwsmith commented on #377
I think these are the queries you are looking for:

https://github.com/SCOREC/core/blob/ba7c15c42de21efe6fac82043db4e51a5a3d9c24/apf/apfMesh.h#L351-L354

https://github.com/SCOREC/core/blob/ba7c15c42de21efe6fac82043db4e51a5a3d9c24/apf/apfMigrate.cc#L63-L69

[2022-10-22 21:12] KennethEJansen commented on #377
If I understand these correctly, hasMatching is true if there are any matched entities.  I guess I can see how a query on getMatches for the current face in that loop will give me its matches and if not zero I will want to skip that face (exempt it from the boundary element creation).

This raises another question.   Are matches bi-diretional?  that is  if  face 27  answers  getMatches with a non-

[2022-10-22 23:27] KennethEJansen commented on #377
That change compiled fine with the following code insertion
[code]
But I am not optimistic about this working for the workflow that motivated it -- matchedNodeElmReader.  Recall that workflow does not involve Simmetrtix but instead streams in coordinates, connectivity, and NODAL matches.  Unless there is code  to compute matches of edges and faces inferred from nodal matches (together with the top

[2022-11-04 14:54] cwsmith commented on #376
## meeting notes 11/4/2022

- the current HEAD of `develop` has added multi-topology support via repeated calls to `assemble` followed by `finalize`
- the branch that exists for `matchedNodeElementReader` has one call to the `construct` api which takes in a `numElements*maxDownwardVerts` array for element-to-vertex connectivity (where vertices are defined by their global vertex id)
- the mesh gene

[2022-11-18 15:32] cwsmith commented on #376
## meeting notes 11/18/2022

- coordinate file does not change
- multi topo file format
   - header per block/topology:
      - num verts per element
      - num elements
      -

[2022-11-21 12:39] Thomas-Ulrich commented on #368
I would change:
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/pumi/package.py#L97-L98
to:
[code]
and change also
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/pumi/package.py#L104
to `mpi_id = spec["mpi"].name + spec["mpi"].version.up_to(1).string`

Because the precompiled libraries are:
`libSimPartitionWrapper-mpich3.a, libSimPartition